* {
    margin: 5px;
    color: #023047;
}

.title {
    color: #023047;
    font-size: 30px
}

.main {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-text {
    color: #023047;
    font-size: 20px
}

.input {
    font-size: 13px;
    display: flex;
    align-items: center;
    background-color: #8ECAE6;
    border-radius: 5px;
}

.button {
    background-color: #FFB703;
    border-radius: 5px;
    font-size: 13px;
}

.button:hover {
    background-color: #FB8500;
}

.hint-container {
    display: flex;
    flex-direction: column;
}

.hint {
    padding: 5px;
    align-self: center;
    font-size: 13px;
    background-color: #023047;
    color: white;
}

.try {
    padding: 5px;
    align-self: center;
    background-color: #023047;
    color: white;
    font-size: 13px
}

.num {
    color: #FFB703;
}

@media all and (min-width: 768px) {
    .title {
        font-size: 4vw;
    }

    .input-text {
        font-size: 2.5vw;
    }

    .input {
        font-size: 1.5vw;
    }

    .button {
        font-size: 1.5vw;
    }

    .hint {
        font-size: 1.5vw;
    }

    .try {
        font-size: 1.5vw;
    }
}